

.giris-sayfasi {
	width: 360px;
	padding: 6% 0 0;
	margin: auto;
}
.footer-class{
	font-family: "Roboto", sans-serif;
	color:#FFD700;
	background:#000;
	position: absolute;
	bottom:0px;
	right:0px;
	left:0px;
	
}
.icon{
	position: absolute;
	right:100px;
	bottom:100px;	
}

.form {
	border-radius: 5px;
	opacity: 0.5;
	position: relative;
	z-index: 1;
	background: #FFD700;
	max-width: 360px;
	margin: 0 auto 100px;
	padding: 45px;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4), 0 5px 5px 0 rgba(0, 0, 0, 0.34);
}
.form input {
	border-radius: 5px;
	font-family: "Roboto", sans-serif;
	outline: 0;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
}


button {
	margin: 20px;
}
.giris-button {
	width: 130px;
	height: 40px;
	color: #fff;
	border-radius: 5px;
	padding: 10px 25px;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	background: transparent;
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	display: inline-block;
	box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
	7px 7px 20px 0px rgba(0,0,0,.1),
	4px 4px 5px 0px rgba(0,0,0,.1);
	outline: none;
}

.btn {
	background: #B8860B;
	width: 130px;
	height: 40px;
	line-height: 42px;
	padding: 0;
	border: none;
  
}
.btn span {
	display: block;
	width: 100%;
	height: 100%;
}
.btn:before,
.btn:after {
	position: absolute;
	content: "";
	right: 0;
	top: 0;
	background: #FAEBD7;
	transition: all 0.8s ease;
}
.btn:before {
	height: 0%;
	width: 2px;
}
.btn:after {
	width: 0%;
	height: 2px;
}
.btn:hover{
	background: transparent;
	box-shadow: none;
}
.btn:hover:before {
	height: 100%;
}
.btn:hover:after {
	width: 100%;
}
.btn span:hover{
	color:#8B4513;
}
.btn span:before,
.btn span:after {
	position: absolute;
	content: "";
	left: 0;
	bottom: 0;
	background: #FAEBD7;
	transition: all 0.8s ease;
}
.btn span:before {
	width: 2px;
	height: 0%;
}
.btn span:after {
	width: 0%;
	height: 2px;
}
.btn span:hover:before {
	height: 100%;
}
.btn span:hover:after {
	width: 100%;
}
body {
	background:#ff8c00;
}