@import url(https://use.fontawesome.com/releases/v5.0.6/css/all.css);
@import url(https://fonts.googleapis.com/css?family=Oswald:400|Raleway:400,700,400italic,700italic);

body{
	background:#ff8c00;
}
.icon{
	position: absolute;
	right:40px;
	bottom:70px;	
}

.footer-class{
	font-family: "Roboto", sans-serif;
	color:#FFD700;
	background:#000;
	position: absolute;
	bottom:0px;
	right:0px;
	left:0px;
}

.user-info{
	border-radius:25px;
	background:#1d1f20;
	position:absolute;
	right:20px;
	top:5px
	height:300px;
	width:300px;
}
.user-ul{
	color:#1d1f20;
	
}
.user-icon{
	position:relative;
	top:7px;

}

.user-label{
		color:white;
}
.menu{
	position:absolute;
	left:5px;
	top:40px;
}
label{
		min-height:25px;
}

.container {
    margin: 0 auto;
    max-width: 80em;
}

main .container {
    padding: 1em;
}


nav {
    background: #1d1f20;
    color: #fff;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
	
}


nav input {
    opacity: 0;
    position: absolute;
    z-index: -1;
}


nav label {
    cursor: pointer;
    display: block;
    font: 2em/1 'Oswald', sans-serif;
    padding: 0.5em;
}

#menu-icon,
#menu-icon:before,
#menu-icon:after {
    background: #fff;
    border-radius: 0.05em;
    height: 0.2em;
    transition: all 0.2s ease-in-out;
    width: 100%;
}

#menu-icon {
    display: inline-block;
    margin: 0.4em 0;
    max-width: 1em;
    position: relative;
}

nav label #menu-icon {
    float: right;
}

#menu-icon:before,
#menu-icon:after {
    content: '';
    left: 0;
    position: absolute;
}

#menu-icon:before {
    top: -0.4em;
}

#menu-icon:after {
    bottom: -0.4em;
}

nav input:checked ~ #overlay {
    background: #e5e5e5;
    bottom: 0;
    left: 0;
	position:relative;
	top:25px;
	left:20px;
}

nav ul {
    font-size: 1.5em;
    list-style: none;
    margin: 0;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    text-align: center;
}

nav input:checked ~ ul {
    margin: 1em;
    max-height: inherit;
    opacity: 1;
}

nav ul > li {
    margin: 0.5em 0;
}

nav ul a {
    color: #CDCDC1!important;
    text-decoration: none;
}

nav ul a:hover {
        color: #FF7F00!important;
}
